      <!-- Intro -->
      <section class="wrapper style1 fullscreen fade-up">
        <div class="inner">
          <h1>Bienvenido</h1>
          <p>
            En esta página podrá reportar la perdida de sus documentos y objetos
            personales.
          </p>
          <!-- <ul class="actions">
            <li>
              <a href="#one" action="" class="button scrolly">Añadir objeto perdido</a>
            </li>
          </ul> -->
        </div>
      </section>